"*":
  "Sublime-Style-Column-Selection":
    mouseButtonTrigger: "Middle"
    selectKeyTrigger: "None"
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "JetBrainsMono Nerd Font"
    preferredLineLength: 120
  "open-files":
    collapsable: false
  "tree-view": {}
  welcome:
    showOnStartup: false
