"*":
  "Sublime-Style-Column-Selection": {}
  "atom-ide-outline":
    initialDisplay: false
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "JetBrainsMono Nerd Font"
    preferredLineLength: 120
  "file-icons":
    onChanges: true
  "go-debug":
    configurationFile: [
      ".atom.debug"
    ]
  "go-plus":
    disableToolCheck: true
    skipCodeFormatCheck: true
    test:
      coverageDisplayMode: "gutter"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "open-files":
    collapsable: false
  "tree-view": {}
  "tree-view-autoresize":
    minimumWidth: 200
  welcome:
    showOnStartup: false
  "x-terminal":
    spawnPtySettings:
      projectCwd: true
    terminalSettings:
      defaultOpenPosition: "Bottom Dock"
      fontSize: 12
      leaveOpenAfterExit: false
      relaunchTerminalOnStartup: false
      xtermOptions: "{\"cursorBlink\": false}"
".go.source":
  editor:
    showIndentGuide: true
    tabLength: 4
    tabType: "hard"
