@import 'ui-variables';

.indent-guide-plus {
  &.indent-guide-stack {
    background-color: @text-color-info;
    &.indent-guide-active {
      background-color: @text-color-success;
    }
  }
}

.minimap .cursor-line {
  background: @purple;
}
